.blog {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.blog > main {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: var(--border-color) 1px solid;
  border-radius: var(--border-radius);
  padding: var(--std-pad);
}
.blog > main > p {
  /* margin: auto; */
}
.titlebanner {
  display: flex;
  margin: 5% auto;
  font-size: 2rem;
}
.simpleSapien {
  border: 3px solid black;
  border-radius: 100%;
}
.fontColor {
  color: var(--primary);
}
.blog > footer {
  margin-top: auto;
  text-align: center;
}

.blog > main > button {
  background-color: var(--primary);
  /* color: red; */
  /* color: var(--secondary); */
  width: 4rem;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
}
.backbutton {
  color: white;
}
