.blog {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.blog > main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: var(--border-color) 1px solid;
  border-radius: var(--border-radius);
  padding: var(--std-pad);
}

.titlebanner {
  display: flex;
  margin: 5% auto;
  font-size: 2rem;
}
.simpleSapien {
  border: 3px solid black;
  border-radius: 100%;
}
.fontColor {
  color: var(--primary);
}
.blog > footer {
  margin-top: auto;
  text-align: center;
}

.blog > main > button {
  background-color: var(--primary);
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  margin: 15% auto 0;
  font-size: 1.25rem;
  padding: 2% 5%;
  text-align: center;
}
.blog > main > button > a {
  color: white;
}
