.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > main {
  width: 80%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container > main > article {
  border: 1px solid #eaeaea;
  padding: 5%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.container > main > article > p {
  line-height: 2;
}
.container > footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  border-top: 1px solid #eaeaea;
  padding: 1%;
}

.container > footer > div > a {
  color: #0070f3;
}
.container > footer > div > a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
  .container > main {
    width: 100%;
    padding: 2%;
  }
}
