.nav {
}

.nav > ul {
  width: 100vw;
  display: flex;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-around;
  padding-bottom: 2%;
}

.nav > ul > *:hover {
  color: #0070f3;
}

.nav > div > span {
  display: none;
  margin: 4px;
  height: 5px;
  width: 40px;
  background: #0070f3;
  border-radius: 9px;
}
.nav:nth-of-type(2) {
  background-color: red;
}

.nav > div > ul {
  border-radius: 6%;
  color: white;

  background-color: rgba(0, 112, 243, 0.9);
  position: absolute;
  top: 1%;
  right: 10%;
  transition: all 0.15s linear;
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.nav > div > ul > li {
  list-style: none;
  margin: 5% auto;
  letter-spacing: 1px;
}

.nav > div > ul > li:hover {
  text-decoration-line: underline;
}
@media screen and (max-width: 600px) {
  .nav > div > span {
    display: block;
  }
  .nav > div {
    margin-top: 50%;

    /* transition: all 2.15s ease; */
  }

  .nav > ul {
    display: none;
  }
}
