.nav {
  border-bottom: 1px solid #eaeaea;
}

.nav > ul {
  width: 100vw;
  /* margin: auto; */
  /* padding: 2%; */
  display: flex;
  justify-content: space-around;
}
.nav > ul > * {

  /* transition: all 0.15s ease; */
}
.nav > ul > *:hover {
  color: #0070f3;
}

.nav > div {
}
.nav > div > span {
  display: none;
  margin: 4px;
  height: 5px;
  width: 40px;
  background: #0070f3;
  border-radius: 9px;
}
.nav > div > ul {
  /* color: red; */
}
@media screen and (max-width: 600px) {
  .nav > div > span {
    display: block;
  }
  .nav > div {
    /* margin-top: 50%; */
  }

  .nav > ul {
    display: none;
  }
}
