.nav {
  width: 100vw;
  border-bottom: 1px solid #eaeaea;
  background-color: black;
  display: flex;
  padding: 2%;
}
/***Primary Nav** */
.nav > ul {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

.nav > ul > *:hover {
  color: #0070f3;
}

/* Icon */

.nav > div > span {
  display: none;
  margin: 4px;
  height: 4px;
  width: 30px;
  background: #0070f3;
  border-radius: 9px;
}

/* Drop down */
.nav > div > ul {
  border-radius: 6%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 5%;
  left: 1%;
  transition: all 0.15s linear;
  padding: 5%;
}
.nav>div>ul>li{
  list-style: none;
}

.nav li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .nav {
    /* background-color: white; */
    /* display: none; */
  }

  .nav > div > span {
    display: block;
    /* margin:  auto; */
  }
  .nav > div {
    /* margin-top: 50%; */
  }

  .nav > ul {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 600px) {
  .nav > div > ul {
    visibility: hidden;
  }
}
